@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Josefin+Sans:wght@300;500&family=Lora&family=Montserrat:wght@300;400;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

body{
    min-height: 100vh;
    
    justify-content: space-between;
    background-image: linear-gradient(#81A5C8,#4B6074,#090C0F);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

}

section{
    padding: 2rem 9%;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    background-color: #3c8cdc;
    color: #ffffff;
}

.btn:hover{
    background-color: #9FC8F0;
    color: #000000;
}


.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 2.5rem;
    color: #daeaf9;
}

/*navbar starts*/
.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background-color: #4A6886;
    box-shadow:0 .5rem .5rem #2e3e4a;
}

.header .logo{
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-style: italic;
}

.header .logo span{
   
    color: #9FC8F0;
}

.header .navbar a{
    font-size: 1.5rem;
    margin: 0 3rem;
    color: rgb(255, 255, 255);
}

.header .navbar a:hover{
    color: #9FC8F0;
}

.header .icons div{
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 7px;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    font-size: 15px;
    background-color: rgb(127, 152, 170);
    transition: all 0.3s ease-in-out;
    color: rgb(255, 255, 255);
}

.header .icons div:hover{
    background-color: #9FC8F0;
    color: white;
}

#menu-btn{
    display: none;
}



/* refine part starts */
.result .refine{
    margin-top: 10rem;
    max-width: 100%;
    height: 5rem;
}

.refine h6{
    color: white;
    font-size: 1.2rem;
}

.refine .option li{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 1rem;
    font-size: 1rem;
    border-radius: .2rem;
    background-color: #ffffffbd;
    color: #000000;
    border: .2rem solid #3c8cdc;
    width: 18rem;
    margin-left: .5rem;

}


/* product list part */

  /* product ilst heading and choosen */

.prolist{
    display: grid;
}
.prolist h4{
    margin: .2rem;
    font-size: 1.4rem;
    color: white;
    margin-top: 2rem;
    display: block;
}

.prolist .choosen{
    margin-top: .5rem;
    display: inline-block;
    padding: .4rem 1rem;
    font-size: 1rem;
    border-radius: 1.6rem;
    background-color: #ffffff9c;
    color: #0b0b0b;
    margin-bottom: 1rem;
    width: 8rem;
}

.prolist .choosen h6{
    font-size: 1.1rem;
    color: black;
}

.prolist .choosen h6 a{
    font-size: 1rem;
    margin-left: 1rem;
    color: black;
}

.prolist .choosen h6 a:hover{
    color: rgb(147, 147, 147);
}

  /* product list container */

.prolist .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 3rem;
    padding-bottom: 3rem;
}

.prolist .box-container .box{
    padding: .5rem .5rem;
    background: #cee0f0d9;
    text-align: center;
    box-shadow: .3rem .3rem .3rem #878a96;
    border-radius: 1.2rem;
}

.prolist .box-container .box:hover{
    box-shadow: .5rem .5rem .5rem #44464d;
}

.prolist .box-container .box img{
    height: 20rem;
    width: 35rem;
    border-radius: 1.2rem;
}


.prolist .box-container .box h3{
    font-size: 1.5rem;
    line-height: 1.2;
    color: #f7ba2c;
}



.prolist .box-container .box p{
    font-size: 1.6rem;
    line-height: 1.2;
    color: #000000;
    padding-top: 1.2rem;
    padding: .5rem;
}

.prolist .box-container .box span{
    font-weight: bolder;
    font-size: 1.7rem;
    margin-left: 3rem;
}

.prolist .box-container .box .brief{
    margin: 0%;
}

.prolist .box-container .box .brief .content{
    font-size: 1.3rem;
    display: inline-block;
    margin-left: .2rem;
    margin-right: .2rem;
}

.prolist .box-container .box .brief .content i{
    padding-right: .3rem;
}

.prolist .box-container .box .brief .content p{
    font-size: 1rem;
    display: inline;
}

.prolist .box-container .box .btn{
    border: .1rem solid rgb(189, 212, 232);
}


.prolist .box-container .box .btnC{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.738);
    color: #3c8cdc;
}

.prolist .box-container .box .btnC:hover{
    color: #4A6886;
} 











/* footer */
.footer{
    /* bottom: 0;
    width: 100%;
    position: fixed;
    padding-top: 2rem;
    display: block; */
    background: rgb(40, 46, 55);
    margin-top: 20rem;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    font-size: 1.5rem;
    color: rgb(250, 255, 255);
    padding: 1rem 0;
}

.footer .box-container .box h3 span{
    color:rgb(189, 212, 232)
}

.footer .box-container .box h3 i{
    color: rgb(229, 235, 240);
}


.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color: rgb(220, 226, 235);
    padding: 1rem 0;
}

.footer .box-container .box a:hover{
    display: block;
    font-size: 1.4rem;
    color: rgb(126, 136, 152);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    color: rgb(219, 228, 241);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i{
    color: rgb(96, 110, 128);
    padding-right: .5rem;
}

.footer .box-container .box p{
    line-height: 1.7;
    display: block;
    font-size: 1.5rem;
    color: white;
    padding: 1rem 0;
}

.footer .box-container .box .email{
    width: 100%;
    margin: .7rem 0;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #e9eaea;
    font-size: 1.5rem;
    color: #daeaf9;
    text-transform: none;
}

.footer .box-container .box .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    background-color: rgb(94, 106, 121);
    border: 0rem solid rgb(60, 69, 79);
    color: #daeaf9;
}

.footer .box-container .box .btn:hover{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    background-color: rgb(60, 69, 79);
    border: 0rem solid rgb(60, 69, 79);
    color: #daeaf9;
}

.footer .credit{
    text-align: center;
    margin-top: 1.5rem;
    padding: 1rem;
    padding-top: 1rem;
    font-size: 1rem;
    color: #cad1db;
    border-top: .1rem solid rgb(18, 18, 18);
}

.footer .credit span{
    color: #ffffff;
}




@media (max-width:991px){
    section{
        padding: 2rem;
    }
}

@media (max-width:768px){
    
}
    
@media (max-width:450px){
    .footer{
        text-align: center;
    }
}
